:root {
    
    /* Font */
    --Font-family: 'Arial', sans-serif;
    --Font-color: #FFF;

    /* { Accent } */
     --Main-color: #2d72d9;

    /* -- { Window } -- */
    --Window-bg: #17181b;

    /* Window handler */
    --Window-handler-bg: transparent;
    --Window-handler-height: 33px;

    /* -- { Navbar } -- */
    --Navbar-bg: rgba(33,34,37,0.95);

    /* { Input } */
    --Input-bg: rgba(0, 0, 0, 0.5);
}
